@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap');
.App {
  min-height: 100vh;
  background-color: #f7f7f7;
  font-family: 'Cabin', sans-serif;
}
.main {
  flex: 1;
}
