.Sidebar {
  max-width: 25%;
  margin-left: -20px;
  background-color: #eefefb;
  border: solid 1px grey;
  color: black;
  padding: 20px;
}

.Title {
  text-align: center;
  margin: 10px 0 20px 0;
  font-size: 24px;
}

.Sidebar p {
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0;
}

.Form-check label {
  padding-left: 5px;
  padding-right: 10px;
}

.Form-check-input:checked + .Form-check-label {
  background-color: #b3d7ff;
}

.MuiSlider-root {
  margin-top: 20px;
  margin-bottom: 30px;
}
